<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div class="login-container">
    <h1>注册</h1>
    <form class="form-horizontal" method="post" action="/register">
        <div class="form-group row">
            <label for="username" class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:classappend="${usernameError == null ? '' : 'is-invalid'}" id="username" name="username" placeholder="请输入用户名" th:value="${username}">
                <div th:if="usernameError != null" class="invalid-feedback" th:text="${usernameError}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-3 control-label">密码</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" th:classappend="${passwordError == null ? '' : 'is-invalid'}" id="password" name="password" placeholder="请输入密码" th:value="${password}">
                <div th:if="passwordError != null" class="invalid-feedback" th:text="${passwordError}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="password2" class="col-sm-3 control-label">确认密码</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" th:classappend="${password2Error == null ? '' : 'is-invalid'}" id="password2" name="password2" placeholder="请输入确认密码" th:value="${password2}">
                <div th:if="password2Error != null" class="invalid-feedback" th:text="${password2Error}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:classappend="${emailError == null ? '' : 'is-invalid'}" id="email" name="email" placeholder="请输入邮箱" th:value="${email}">
                <div th:if="emailError != null" class="invalid-feedback" th:text="${emailError}"></div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <button type="submit" class="btn btn-primary">注册</button>
            </div>
        </div>
    </form>

</div>
</body>
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</html>